---
---

@import "{{ site.theme }}";

$clr-primary-a0: #dfa118;
$clr-primary-a10: #e5ab3b;
$clr-primary-a20: #eab556;
$clr-primary-a30: #efbf6f;
$clr-primary-a40: #f3ca87;
$clr-primary-a50: #f7d49f;

$clr-surface-a0: #121212;
$clr-surface-a10: #282828;
$clr-surface-a20: #3f3f3f;
$clr-surface-a30: #575757;
$clr-surface-a40: #717171;
$clr-surface-a50: #8b8b8b;

$clr-surface-tonal-a0: #241f16;
$clr-surface-tonal-a10: #39342b;
$clr-surface-tonal-a20: #4f4a42;
$clr-surface-tonal-a30: #65615a;
$clr-surface-tonal-a40: #7d7973;
$clr-surface-tonal-a50: #96938d;

body {
    background-color: $clr-surface-a0;
    color: $clr-surface-a50;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: $clr-primary-a20;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    background-color: $clr-surface-a10;
    padding: 1rem;
    text-align: center;
}

h1, h2, h3 {
    color: $clr-primary-a50;
}

p {
    color: $clr-surface-a40;
}

.card {
    background-color: $clr-surface-a20;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
}

.bg-primary {
    color: $clr-primary-a50;
    background-color: $clr-surface-a0;
}

.card-tonal {
    background-color: $clr-surface-tonal-a20;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
